* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style: none;
}
body {
  background: #eee;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2a7886;
  padding: 8px 32px;
  box-shadow: 0 0 10px 0 #3e8d96;
  color: aliceblue;
}
.head ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  text-decoration: none;
  padding-top: 10px;
}
.head a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.2rem;
  text-decoration: none;
}
.head h1 > a:hover {
  color: black;
  text-decoration: none;
}
.head li > a:hover {
  color: black;
  text-decoration: none;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #3e8d96;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  color: #03363f;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #03363f;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #2a7886;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: white;
}
form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px #3e8d96;
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  font-style: italic;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}
form.create-note button {
  position: absolute;
  font-size: 0.8rem;
  right: 18px;
  bottom: -18px;
  background: #2a7886;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
